<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="35555TiberiuChibici.DrumKit" Publisher="CN=B6F45FE5-D749-4D29-874C-8323B266F3C8" Version="2.3.0.27" />
  <Properties>
    <DisplayName>DrumKit</DisplayName>
    <PublisherDisplayName>Tiberiu Chibici</PublisherDisplayName>
    <Logo>Assets\Logos\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="DrumKit.App">
      <m2:VisualElements DisplayName="DrumKit" Description="DrumKit" BackgroundColor="#164646" ForegroundText="light" ToastCapable="false" Square150x150Logo="Assets\Logos\Logo.png" Square30x30Logo="Assets\Logos\SmallLogo.png">
        <m2:DefaultTile Wide310x150Logo="Assets\Logos\WideLogo.png">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
            <m2:ShowOn Tile="wide310x150Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:InitialRotationPreference>
          <m2:Rotation Preference="portrait" />
          <m2:Rotation Preference="landscape" />
          <m2:Rotation Preference="portraitFlipped" />
          <m2:Rotation Preference="landscapeFlipped" />
        </m2:InitialRotationPreference>
        <m2:SplashScreen Image="Assets\Logos\SplashScreen.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
</Package>